@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* font-family: 'Recursive', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace; */

/* ============== Variables ================= */
:root {
    --main-color: #171941;
    --main-light: #262853;
    --color: #ffffff;
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #e98b2c;
    --orangered: orangered;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
}

/* ============= Global setting =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--lighter);
    background: var(--main-color);
    /*background-attachment: fixed;*/
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

body.hide-scrolling {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
    font-weight: 600;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.min-vh-100 {
    min-height: 100vh;
}

.flex-end {
    justify-content: flex-end;
}

section {
    display: none;
}

section.active {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none !important;
}

.sec-padding {
    padding: 80px 0 0;
}

.ftr {
    padding-bottom: 40px;
}

footer {
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 500;
}

footer i {
    font-size: 18px;
    color: var(--red);
}

button {
    font-family: inherit;
    user-select: none;
}

.btn {
    background-color: var(--orange);
    padding: 9px 25px;
    font-family: inherit;
    font-size: 16px;
    color: var(--white);
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    user-select: none;
    font-weight: 600;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid var(--white);
    transform: translate(4px, 4px);
    transition: transform 0.3s ease;
    pointer-events: none;
}

.btn:hover::before {
    transform: translate(0px, 0px);
}

.close-btn {
    height: 40px;
    width: 40px;
    background-color: var(--orange);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.close-btn::before,
.close-btn::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    left: 50%;
    top: 50%;
    background-color: var(--white);
    transition: transform 0.3s ease;
}

.close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn:hover::before,
.close-btn:hover::after {
    transform: translate(-50%, -50%);
}

/*============custom scrollbar==========*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
}

/* ========= section title ======== */
.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 40px;
}

.section-title h2 span {
    color: var(--orange);
}

/* ============ Background squares animation start ============*/
.square-animation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.square-animation div {
    background-image: linear-gradient(-45deg, #0026ff, #0099ff);
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%;
}

.square-animation .square1 {
    height: 300px;
    width: 300px;
    opacity: 0.5;
    left: 3%;
    top: -21%;
    animation: move-left-right 4s infinite;
}

.square-animation .square2 {
    animation: move-left-right 6s infinite;
    height: 400px;
    width: 400px;
    opacity: 0.6;
    right: -5%;
    top: -12%;
}

.square-animation .square3 {
    animation: move-left-right 5s infinite;
    height: 200px;
    width: 200px;
    opacity: 0.2;
    left: -5%;
    bottom: 0%;
}

.square-animation .square4 {
    animation: move-left-right 10s infinite;
    height: 100px;
    width: 100px;
    opacity: 0.8;
    right: 27%;
    top: 70%;
}

.square-animation .square5 {
    animation: move-left-right 6s infinite;
    height: 250px;
    width: 250px;
    opacity: 0.9;
    left: 33%;
    bottom: 29%;
}

.square-animation .square6 {
    animation: move-left-right 9s infinite;
    left: 10%;
    top: 35%;
    height: 80px;
    width: 80px;
    opacity: 0.8;
}

.square-animation .square7 {
    animation: move-left-right 3s infinite;
    width: 280px;
    height: 280px;
    right: -5%;
    bottom: 0%;
    opacity: 0.2;
}

@keyframes move-left-right {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}

/* ============ Background squares animation end ============*/

/*========== overlay effect ============ */
.overlay-effect {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    visibility: hidden;
}

.overlay-effect.active {
    visibility: visible;
    display: flex;
    flex-direction: column-reverse;
}

.overlay-effect-item {
    height: 10vh;
    background-color: var(--main-light);
    transition: all 0.5s ease;
}

.overlay-effect-item:nth-child(odd) {
    transform: translateX(-100%);
}

.overlay-effect-item:nth-child(even) {
    transform: translateX(100%);
}

.overlay-effect.active .overlay-effect-item {
    transform: translateX(0%);
}

.overlay-effect-item:nth-child(2) {
    transition-delay: 0.05s;
}

.overlay-effect-item:nth-child(3) {
    transition-delay: 0.10s;
}

.overlay-effect-item:nth-child(4) {
    transition-delay: 0.15s;
}

.overlay-effect-item:nth-child(5) {
    transition-delay: 0.20s;
}

.overlay-effect-item:nth-child(6) {
    transition-delay: 0.25s;
}

.overlay-effect-item:nth-child(7) {
    transition-delay: 0.30s;
}

.overlay-effect-item:nth-child(8) {
    transition-delay: 0.35s;
}

.overlay-effect-item:nth-child(9) {
    transition-delay: 0.40s;
}

.overlay-effect-item:nth-child(10) {
    transition-delay: 0.45s;
}

/*================== Header section ======================== */
.header {
    padding: 25px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-logo {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Great Vibes', cursive;
    margin-left: 15px;
    position: absolute;
    left: 0;
    color: #eda617;
}

.nav-logo span {
    font-size: 24px;
    padding-left: 5px;
    font-weight: 500;
    color: #fff;
}

@media (min-width: 1200px) {
    .nav-logo {
        left: 95px;
    }
}

.header .nav-toggler {
    height: 34px;
    width: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 101;
    margin-right: 15px;
    transition: all 0.3s ease 0.4s;
}

.header .nav-toggler.toggle-hide {
    transform: scale(0);
    pointer-events: none;
    transition-delay: 0s;
}

.header .nav-toggler span {
    height: 2px;
    width: 30px;
    background-color: var(--white);
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.header .nav-toggler.active span {
    background-color: transparent;
}

.header .nav-toggler.active span::before {
    width: 100%;
    transform: rotate(45deg);
}

.header .nav-toggler.active span::after {
    width: 100%;
    transform: rotate(-45deg);
}

@media (min-width: 992px) {

    .header .nav-toggler.active:hover span::before,
    .header .nav-toggler.active:hover span::after {
        transform: rotate(0deg);
    }
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 50%;
    background-color: var(--white);
    transition: all 0.3s ease;
}

.header .nav-toggler span::before {
    left: 0;
    transform: translateY(-9px);
}

.header .nav-toggler span::after {
    right: 0;
    transform: translateY(9px);
}

.header .nav-toggler:hover span::before,
.header .nav-toggler:hover span::after {
    width: 100%;
}

.header .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 0 15px;
    overflow-y: auto;
    visibility: hidden;
}

.header .nav.open {
    visibility: visible;
}

.header .nav-inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease;
}

.header .nav.open .nav-inner {
    transition-delay: 0.5s;
    opacity: 1;
    transform: scale(1);
}

.header .nav-inner ul li {
    text-align: center;
    position: relative;
    margin: 12px 0;
    padding: 0 12px;
    font-family: 'Source Code Pro', monospace;
}

.header .nav-inner ul li a {
    font-size: 35px;
    font-weight: 500;
    color: var(--white);
    padding-bottom: 4px;
    transition: .5s ease;
}

.header .nav-inner ul li a:hover {
    border-bottom: 2px solid var(--yellow);
    transition: .5s ease;
}

.header .nav-inner ul li a span {
    color: var(--yellow);
}

.header .nav-inner ul li:hover::before,
.header .nav-inner ul li:hover::after,
.header .nav-inner ul li:hover a::before {
    width: 100%;
}


/* ===================== Home section ================== */
.home-section .min-vh-100 {
    padding: 120px 15px;
}

.home-content {
    max-width: 620px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.home-content h1 {
    font-size: 42px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -2px;
}

.home-content h1 span {
    font-size: 42px;
    font-weight: 700;
    padding-left: 5px;
}

.home-content img {
    width: 40px;
    margin-left: 4px;
}

.home-content p {
    font-size: 19px;
    margin-bottom: 13px;
    margin-top: -5px;
    font-weight: 500;
}

.home-content p span {
    color: var(--orange);
    font-weight: 600;
}

.home-content .home-social a {
    height: 45px;
    width: 45px;
    color: var(--white);
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 3px;
    box-shadow: 0 5px 5px #3337;
}

.home-social-1 {
    background: #2867B2;
}

.home-social-2 {
    background: rgb(37, 37, 37);
}

.twitter-link {
    background: var(--white);
    color: var(--info) !important;
}

.home-btn {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-btn a {
    margin: 0 10px;
}

.home-btn .btn2 {
    background: #111921;
    color: var(--white);
    border: 2px solid var(--white);
}

.home-btn .btn2::before {
    border: 2px solid #2ecce5;
}

/* =============== About section ================= */
.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    max-width: 750px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
}

.profile {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 35px;
    opacity: 0.9;
    filter: grayscale(0%);
    filter: gray;
    border: 4px solid #111921;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}

.profile img:hover {
    transition: 1s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

.about-text h3 {
    font-size: 20px;
    font-family: inherit;
    margin: 25px 0 5px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
}

.about-text p {
    text-align: justify;
    font-weight: 500;
}

.about-text p a {
    color: var(--orange);
}

.about-text .skills-txt {
    margin-bottom: 20px;
}

.skill-items {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

@media (max-width: 718px) {
    .skill-items {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (max-width: 605px) {
    .skill-items {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 490px) {
    .skill-items {
        grid-template-columns: auto auto auto;
    }
}

.skill-item .logo {
    color: var(--orange);
    text-align: center;
    font-size: 60px;
    transition: all .4s ease;
}

.skill-item .logo:hover {
    color: var(--white);
}

.skill-item .info {
    color: var(--white);
    text-align: center;
    transform: translateY(-100%);
    font-weight: 500;
}


.accordion .card {
    margin: 20px 0;
}

.accordion .card .card-header p {
    cursor: pointer;
    color: var(--white);
    background: var(--orange);
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.accordion .card .card-header {
    position: relative;
}

.accordion .card .card-header span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--white);
    background: var(--orange);
    font-size: 18px;
}

.accordion .card .card-body {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255, 255, 255, 0.60);
    margin-top: 20px;
    display: none;
}

.accordion .card:nth-child(1) .card-body {
    display: block;
}

.accordion .card .card-body p {
    font-size: 15px;
    color: var(--light);
    text-align: justify;
}

.accordion .card .card-body span {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 0.7px;
    text-align: start;
}

/* ----------- Achievements --------- */
.achievements {
    position: relative;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.achievements .slide-container .slide {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.60);
    box-shadow: 0 5px 10px #3337;
    width: 460px;
    padding: 20px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    animation: slide .4s linear;
}

@keyframes slide {
    0% {
        transform: rotateX(180deg);
    }
}

.achievements .slide-container .slide>* {
    animation: slideContent .2s linear .4s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
}

.achievements .slide-container .slide .heading {
    color: var(--white);
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.achievements .slide-container .slide .text {
    text-align: center;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

.achievements .slide-container {
    display: none;
}

.achievements .slide-container.active {
    display: block;
}

.achievements #next,
.achievements #prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    background: var(--orange);
    color: var(--white);
    border-radius: 50%;
    box-shadow: 0 5px 5px #3337;
}

.achievements #next {
    right: 50px;
}

.achievements #prev {
    left: 50px;
}

.achievements #next:hover,
.achievements #prev:hover {
    color: var(--orange);
    background: var(--white);
}

@media (max-width: 642px) {
    .achievements #next {
        right: 10px;
    }

    .achievements #prev {
        left: 10px;
    }
}

@media (max-width: 560px) {
    .achievements #next {
        right: -10px;
    }

    .achievements #prev {
        left: -10px;
    }
}

@media (max-width: 515px) {
    .achievements .slide-container .slide {
        width: 315px;
    }

    .achievements .slide-container .slide .heading {
        font-size: 23px;
    }

    .achievements .slide-container .slide .text {
        font-size: 15px;
    }

    .achievements #next {
        right: 10px;
    }

    .achievements #prev {
        left: 10px;
    }
}

@media (max-width: 414px) {

    .achievements #next,
    .achievements #prev {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .achievements #next {
        right: 10px;
    }

    .achievements #prev {
        left: 10px;
    }
}

@media (max-width: 410px) {
    .achievements #next {
        right: 0px;
    }

    .achievements #prev {
        left: 0px;
    }
}

@media (max-width: 388px) {
    .achievements #next {
        right: -6px;
    }

    .achievements #prev {
        left: -6px;
    }
}

/* ---- coding profile css ----- */

.coding-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cp {
    margin: 15px 5px;
}

.cp a {
    font-weight: 600;
    padding: 8px 16px;
    border: 2px solid rgba(255, 255, 255, 0.80);
}

.leetcode {
    background: #000;
    color: var(--orange);
}

.cf {
    background: #0f59cf;
    color: var(--white);
}

.cc {
    background: #964b00;
    color: var(--white);
}

@media (max-width: 600px) {
    .coding-main {
        flex-direction: column;
        margin: 5px;
    }

    .cp {
        margin: 12px;
    }
}

.resume {
    margin-top: 22px;
}

.resume a {
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    padding: 10px 20px;
    border: 3px solid #11cdef;
    background-color: #111921;
    color: var(--white);
    transition: 0.6s ease;
}

.resume a:hover {
    background: #262853;
    transition: 0.6s ease;
}


/* ===================== Project section ================== */
.project-subTitle i {
    color: #e98b2c;
    font-size: 20px;
}

.projectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    background: #111921;
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    margin: 20px;
    padding: 10px 15px;
    box-shadow: 0 4px 31px rgba(0, 0, 0, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.60);
    transition: all 0.4s ease;

}

.project-card:hover {
    transform: translateY(-8px);
    border: 1px solid #11cdef;
}

.project-heading {
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.project-languages {
    background: #2ecce5;
    width: 100px;
    color: #171941;
    text-align: center;
    border-radius: 6px;
    margin: 6px 0;
}

.project-url {
    margin-top: 12px;
    font-size: 30px;
}

.project-url a {
    color: #fff;
}

.project-url a:hover {
    color: #2ecce5;
}


/*=============== contact section ================== */
.contact-content {
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.contact-text {
    margin-bottom: 25px;
}

.contact-text p {
    text-align: justify;
    color: var(--lighter);
}

.contact-info-item {
    margin-bottom: 10px;
}

.contact-info-item p {
    font-size: 22px;
    font-weight: 500;
}

.contact-info-item .social-links span {
    display: block;
    margin-bottom: 13px;
    color: var(--white);
}

.contact-info-item .social-links a {
    height: 45px;
    width: 45px;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 0 3px;
    box-shadow: 0 5px 5px #3337;
}

.contact-social-0 {
    background: linear-gradient(55deg, #3e65cf, #c71610, #f2a60c, #3b60c4, #08851b);
    color: var(--white);
}

.contact-social-1 {
    background: #2867B2;
    color: var(--white);
}

.contact-social-2 {
    background: rgb(37, 37, 37);
    color: var(--white);
}

.contact-social-3 {
    background: var(--white);
    color: #bc2a8d;
}

.contact-content .toggle-contact-form-btn {
    margin-top: 25px;
}

/*========== contact form ============== */
.contact-form {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
}

.contact-form.open {
    visibility: visible;
}

.contact-form-inner {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7px);
    height: 100vh;
    padding: 50px 20px;
    display: flex;
    transform: translateY(-100%);
    transition: all 0.5s ease 0.5s;
}

.contact-form.open .contact-form-inner {
    transform: translateY(0%);
    transition-delay: 0s;
    overflow-y: auto;
}

.contact-form-container {
    max-width: 600px;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

.contact-form.open .contact-form-container {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.5s;
}

.contact-form form {
    padding: 50px 0 0;
}

.contact-form .input-group {
    margin-bottom: 30px;
    width: 100%;
}

.contact-form .input-control::placeholder {
    color: var(--white);
    opacity: 0.5;
    font-weight: 300;
}

.contact-form .input-control {
    height: 50px;
    display: block;
    width: 100%;
    padding: 0 15px;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    transition: all 0.5s ease;
}

.contact-form .input-control:focus {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: transparent;
}

.contact-form textarea.input-control {
    height: 120px;
    resize: none;
    padding-top: 15px;
}

.input-group button {
    letter-spacing: 1px;
}


/* ======================= Responsive =================== */
@media (max-width: 1000px) {
    .sec-padding {
        padding: 100px 0 0;
    }
}

@media (max-width: 767px) {
    .home-btn {
        flex-direction: column;
    }

    .home-btn .btn2 {
        margin-top: 18px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 580px) {
    .header .nav-inner ul li a {
        font-size: 32px;
    }

    .popup {
        max-width: calc(100% - 40px);
    }

    .contact-info-item span {
        display: block;
        margin-bottom: 12px;
    }

    .contact-info-item p {
        font-size: 18px;
    }

    .contact-info-item p span {
        font-size: 22px;
    }
}

@media (max-width: 377px) {
    .about-tabs .tab-item {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }

    .about-text p {
        font-size: 15px;
    }
}